<!--<!DOCTYPE html>-->
<!--<html class="no-js" xmlns:th="http://www.thymeleaf.org" th:fragment="commons (title,body)">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>VitalizeBank</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
<!--    <div th:replace="commons/header :: header"></div>-->
<!--  </head>-->
<!--  <ul class="list-group list-group-horizontal">-->
<!--      <aside>-->
<!--        <div th:replace="commons/sidebar :: sidebar"></div>-->
<!--      </aside><br/>-->
<!--      <main role="main" class="col-md-12 col-lg-11 px-5 ml-sm-auto">-->
<!--          <div class="col-lg-12">-->
<!--              <div class="card">-->
<!--                  <div class="card-body">-->
<!--                      <div class="d-sm-flex justify-content-between align-items-center">-->
<!--                          <h4 class="header-title">権限マスタ  一覧</h4>-->
<!--                      </div><br/>-->
<!--                      <div class="row">-->
<!--                          <div class="form-group col-3">-->
<!--                              <label th:for="investigationIds" class="col-form-label col-form-label-sm">権限ID</label>-->
<!--                              <input type="text" class="form-control" placeholder="テキスト入力欄">-->
<!--                              <label th:for="investigationIds" class="col-form-label col-form-label-sm">管理権限ステータス</label>-->
<!--                              <input type="text" class="form-control" placeholder="テキスト入力欄">-->
<!--                          </div>-->
<!--                          <div class="form-group col-3">-->
<!--                              <label class="col-form-label col-form-label-sm">管理権限名</label>-->
<!--                              <input class="form-control" placeholder="テキスト入力欄">-->
<!--                              <label class="col-form-label col-form-label-sm">機能ステータス</label>-->
<!--                              <input class="form-control" placeholder="テキスト入力欄">-->
<!--                          </div>-->
<!--                      </div><br/>-->
<!--                      <div class="text-center">-->
<!--                          <span class="input-group-btn">-->
<!--                              <button type="button" class="btn btn-primary">検索</button>-->
<!--                          </span>-->
<!--                          <span class="input-group-btn">-->
<!--                              <button type="button" class="btn btn-link">検索クリア</button>-->
<!--                          </span>-->
<!--                      </div>-->
<!--                      <ul class="pagination">-->
<!--                          <li class="page-item"><a class="page-link" href="#">前へ</a></li>-->
<!--                          <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                          <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                          <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                          <li class="page-item"><a class="page-link" href="#">次へ</a></li>-->
<!--                      </ul>-->
<!--                      <select class="custome-select border-0 pr-3">-->
<!--                          <option selected>昇順</option>-->
<!--                          <option value="0">降順</option>-->
<!--                      </select>-->
<!--                      <div class="trad-history mt-4">-->
<!--                          <div class="tab-content" id="myTabContent">-->
<!--                              <div class="table-responsive">-->
<!--                                  <table>-->
<!--                                      <thead>-->
<!--                                      <tr>-->
<!--                                          <th class="text-center"></th>-->
<!--                                          <th class="text-center" data-sort-col="user_privilege">権限ID</th>-->
<!--                                          <th class="text-center" data-sort-col="user_privilege">管理権限ステータス</th>-->
<!--                                          <th class="text-center" data-sort-col="user_privilege">管理権限名</th>-->
<!--                                          <th class="text-center" data-sort-col="user_privilege">機能ステータス</th>-->
<!--                                      </tr>-->
<!--                                      </thead>-->
<!--                                      <tbody>-->
<!--                                      <tr th:each="mstAuth : ${mstAuthlist}" th:object="${mstAuth}">-->
<!--                                          <td class="center"><a th:href="@{/mst_auth/view/{id}(id=*{auth_id})}">詳細</a></td>-->
<!--                                          <td class="text-center align-middle" th:text="*{status}"></td>-->
<!--                                          <td class="text-center align-middle" th:text="*{status_name}"></td>-->
<!--                                          <td class="text-center align-middle" th:text="*{function_status}"></td>-->
<!--                                      </tr>-->
<!--                                      </tbody>-->
<!--                                  </table>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--      </main>-->
<!--  </ul>-->
<!--  <body>-->
<!--    <div th:replace="commons/footer :: footer"></div>-->
<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
<!--  </body>-->
<!--</html>-->