<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>VitalizeBank</title>
  <div id="header">
    <div th:replace="commons/header2 :: header"></div>
  </div>
  <link rel="stylesheet"
        href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/list.css"/>
</head>
<body>
<div class="container">
  <div id="content">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-4">
            <h2>社員 編集</h2>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="row">
          <form th:action="@{/mst_user/edit/{id}(id=${id})}" th:method="post" th:object="${mstUser}">
            <div th:replace="~{mst_user/parts/mstuser :: InputField}"></div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">更新</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="btn">
      <a class="btn btn-info" href="/mst_user/list">一覧画面</a>
    </div>
  </div>
</body>
</html>