<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar()" th:remove="tag" th:with="url=${#httpServletRequest.requestURI}">
    <!-- Sidebar -->
    <div class="sidebar-header">
        <h3></h3>
    </div>
    <ul class="list-group list-group-horizontal">
        <div class="card text-white bg-dark mb-4" style="height: 60rem;">
            <ul class="list-unstyled components" style="width: 10rem;">
                <li class="active">
                    <strong href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">社員</strong>
                    <ul class="collapse list-unstyled col-sm-9 col-lg-10" id="homeSubmenu">
                        <li>
                            <strong href="#">社員マスタ</strong>
                        </li>
                        <li>
                            <strong href="#">権限マスタ</strong>
                        </li>
                        <li>
                            <strong href="#">社員</strong>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <strong href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">銀行</strong>
                    <ul class="collapse list-unstyled col-sm-9 col-lg-10 text-white" id="pageSubmenu">
                        <li>
                            <strong href="#">銀行</strong>
                        </li>
                        <li>
                            <strong href="#">支店</strong>
                        </li>
                        <li>
                            <strong href="#">所属</strong>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong href="#Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">口座</strong>
                    <ul class="collapse list-unstyled col-sm-9 col-lg-10 text-white" id="Submenu">
                        <li>
                            <a href="http://localhost:8081/account_feature/list">口座</a>
                        </li>
                        <li>
                            <strong href="#">残高</strong>
                        </li>
                        <li>
                            <strong href="#">取引履歴</strong>
                        </li>
                        <li>
                            <strong href="#">名称マスタ</strong>
                        </li>
                        <li>
                            <strong href="#">手数料マスタ</strong>
                        </li>
                        <li>
                            <strong href="#">顧客</strong>
                        </li>
                        <li>
                            <strong href="#">システム設定</strong>
                        </li>
                        <li>
                            <strong href="#">定期実行</strong>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ul>
</div>
</body>
</html>

