<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar()" th:remove="tag" th:with="url=${#httpServletRequest.requestURI}">
    <!-- Sidebar -->
    <div class="sidebar-aside">
        <ul class="list-group list-group-horizontal">
            <div class="text-white bg-dark mb-4" style="height: 60rem;">
                <ul class="list-unstyled components" style="width: 10rem;">
                    <li class="active">
                        <strong href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">社員</strong>
                        <ul class="collapse list-unstyled col-sm-10 col-lg-12" id="homeSubmenu">
                            <li>
                                <a href="#">社員マスタ</a>
                            </li>
                            <li>
                                <a href="http://localhost:8081/mst_auth/list">権限マスタ</a>
                            </li>
                            <li>
                                <a href="#">社員</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">銀行</strong>
                        <ul class="collapse list-unstyled col-sm-9 col-lg-10 text-white" id="pageSubmenu">
                            <li>
                                <a href="#">銀行</a>
                            </li>
                            <li>
                                <a href="#">支店</a>
                            </li>
                            <li>
                                <a href="#">所属</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong href="#Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">顧客</strong>
                        <ul class="collapse list-unstyled col-sm-9 col-lg-10 text-white" id="Submenu">
                            <li>
                                <a href="#">顧客</a>
                            </li>
                            <li>
                                <a href="http://localhost:8081/account/list">口座</a>
                            </li>
                            <li>
                                <a href="#">残高</a>
                            </li>
                            <li>
                                <a href="#">取引履歴</a>
                            </li>
                            <li>
                                <a href="#">名称マスタ</a>
                            </li>
                            <li>
                                <a href="#">手数料マスタ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong href="#Usermenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">システム設定</strong>
                        <ul class="collapse list-unstyled col-sm-9 col-lg-10 text-white" id="Usermenu">
                            <li>
                                <a href="#">システム設定</a>
                            </li>
                            <li>
                                <a href="#">定期実行</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <strong href="#menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-white">個人設定</strong>
                        <ul class="collapse list-unstyled col-sm-12 col-lg-12 text-white" id="menu">
                            <li>
                                <a href="#">パスワード変更</a>
                            </li>
                            <li>
                                <a href="#">ログアウト</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
</div>
</body>
</html>

