<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<div th:fragment="InputField" th:remove="tag">
<!--		<div class="form-group">-->
<!--			<input class="form-control" type="number" placeholder="口座番号" th:field="*{accountNumber}" />-->
<!--			<span class="text-danger" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></span>-->
<!--		</div>-->
<!--		<div class="form-group">-->
<!--			<input class="form-control" type="number" placeholder="顧客ID" required="required" th:field="*{clientId}"/>-->
<!--			<span class="text-danger" th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}"></span>-->
<!--		</div>-->
<!--		<div class="form-group">-->
<!--			<input class="form-control" type="text" placeholder="支店コード" required="required" th:field="*{branchCode}"/>-->
<!--			<span class="text-danger" th:if="${#fields.hasErrors('branchCode')}" th:errors="*{branchCode}"></span>-->
<!--		</div>-->
</div>
</html>