<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="InputField" th:remove="tag">
		<div class="form-group">
			<input class="form-control" type="number" placeholder="口座番号" required="required" name="accountNumber" />
		</div>
		<div class="form-group">
			<input class="form-control" type="number" placeholder="顧客ID" required="required" name="cliantId" />
		</div>
		<div class="form-group">
			<input class="form-control" type="text" placeholder="支店コード" required="required" name="branchCode" />
		</div>
</div>
</body>
</html>