<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>VitalizeBank</title>
  <div id="header">
    <div th:replace="commons/header2 :: header"></div>
  </div>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/list.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div id="content">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-4">
            <h2>顧客 登録</h2>
          </div>
        </div>
      </div>
      <div class="mx-auto">
        <div class="row">
          <form th:action="@{/client/add}" th:method="post" th:object="${client}">
            <div th:replace="~{client/parts/client :: InputField}"></div>
            <div class="form-group col-sm-8">
              <button class="btn btn-primary btn-block" type="submit">作成</button>
            </div>
          </form>
        </div>
      </div>
      <div class="btn">
        <a class="btn btn-info" href="/client/list">一覧画面</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>