<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" th:fragment="commons (title,body)">
  <head>
    <meta charset="utf-8">
    <title>VitalizeBank 編集</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <div th:replace="commons/header :: header"></div>
  </head>
  <ul class="list-group list-group-horizontal">
      <aside>
        <div th:replace="commons/sidebar :: sidebar"></div>
      </aside><br/>
      <main role="main" class="col-md-9 col-lg-10 px-5 ml-sm-auto">
      	<div th:replace="~{account/parts/account :: InputField}"></div>
		<div class="form-group pt-4 row">
	      <div class="col-md-4">
	        <div class="row">
	          <div class="pl-4">
	            <a class="btn btn-secondary text-center align-middle" th:href="@{/account/list}" role="button">戻る</a>
	            <input type="submit" class="btn btn-primary px-2 text-center align-middle" id="add"  name="add" value="更新"
	                   modal="true" modal-btn-value="はい" modal-body="記載した内容で登録します。よろしいですか？"/>
	          </div>
	        </div>
	      </div>
	    </div>
	  </main>
  </ul>
  <body>
    <div th:replace="commons/footer :: footer"></div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>