<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
	<title>VitalizeBank</title>
	<div th:replace="commons/header :: header"></div>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>口座 詳細</h1>
      <div th:object="${account}">
        <input type="hidden" th:value="*{id}">
        <div>
          <label>口座番号</label>
          <p th:text="*{accountNumber}"></p>
        </div>
        <div>
          <label>顧客ID</label>
          <p th:text="*{clientId}"></p>
        </div>
        <div>
          <label>支店コード</label>
          <p th:text="*{branchCode}"></p>
        </div>
      </div>
      <div>
        <a class="btn btn-link" href="/account/list">一覧画面へ</a>
      </div>
    </div>
</body>
</html>
